/* style.css */

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Arial', sans-serif;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #007BFF;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
}

label {
    font-weight: bold;
}

button {
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #28a745;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

